{% extends 'layout.html.twig' %}

{% block content %}
	{% if error %}
		 <p>
			 <span style="color: red; font-weight: bold;">{{ error }}</span>
		 </p>
	{% endif %}

	<p>
		<a href="{{ path_for('authorize') }}">Login with IBMid</a>
	</p>
{% endblock %}
